.trainers-section {
  padding: 1.5rem 2rem;
  /* background-color: #0e0e0e; */
  text-align: center;
  color: white;
  height:80vh ;
}

.trainers-title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #f34242;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.trainers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: auto;
}


.trainer-card {
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.trainer-card:hover {
  transform: scale(1.05);
}

.trainer-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.trainer-card h3 {
  color: #ff5252;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.trainer-card p {
  font-size: 0.95rem;
  color: #ccc;
}



@media (max-width:768px){
  .trainer-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.trainers-section {
 margin-top: 0px;

}
}

@media (max-width:468px){
  .trainer-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.trainers-section {
 margin-top: 30px;
}
}